@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "./src/**/*.{rs,html,css}";

@theme {
    --font-caesar-dressing: "Caesar Dressing", system-ui;
    --font-barrio: "Barrio", system-ui;
}

@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs" {
    themes: all, light --default, dark --prefersdark;
}

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */
/* @plugin "./daisyui-theme.mjs" {} */