---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

/* default syntax highlighting (base16) */
$base00: #263238 !important;
$base01: #2e3c43 !important;
$base02: #314549 !important;
$base03: #546e7a !important;
$base04: #b2ccd6 !important;
$base05: #eeffff !important;
$base06: #eeffff !important;
$base07: #ffffff !important;
$base08: #f07178 !important;
$base09: #f78c6c !important;
$base0a: #ffcb6b !important;
$base0b: #c3e88d !important;
$base0c: #89ddff !important;
$base0d: #82aaff !important;
$base0e: #c792ea !important;
$base0f: #ff5370 !important;

//TODO, Check what this is
$caption-font-family: Arial;
//TODO, Change this also (IMPORTANT)
$sans-serif: "Bodoni MT";

//For Code
$monospace: Consolas;
//NOTE, This changes the main <p> </p> data
$global-font-family: Arial;
//NOTE, Changes the H1, H2, headings
$header-font-family: Times;

@import "minimal-mistakes"; // main partials

html {
  font-size: 12px; // 16

  @include breakpoint($medium) {
    font-size: 14px; // 18
  }

  @include breakpoint($large) {
    font-size: 16px; // 20
  }

  @include breakpoint($x-large) {
    font-size: 20px; // 22
  }
}

/* solarized light syntax highlighting (base16) */
// $base00: #f9f9f4 !important; //This is customized
// $base01: #073642 !important;
// $base02: #586e75 !important;
// $base03: #657b83 !important;
// $base04: #839496 !important;
// $base05: #586e75 !important;
// $base06: #eee8d5 !important;
// $base07: #fdf6e3 !important;
// $base08: #dc322f !important;
// $base09: #cb4b16 !important;
// $base0a: #b58900 !important;
// $base0b: #859900 !important;
// $base0c: #2aa198 !important;
// $base0d: #268bd2 !important;
// $base0e: #6c71c4 !important;
// $base0f: #d33682 !important;
